.body {
  background-color: #1c1a19;
  background-image: url(image/Group.png);
  background-repeat: no-repeat;
  background-position: right 80mm;
  height: 350px;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  position: relative;
}

.s1h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  position: static;
  width: 327px;
  height: 124px;
  left: 24px;
  top: 120px;
  font-style: normal;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

h2 {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  flex-grow: 0;
  order: 1;
  margin: 12px 0;
}

h3 {
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
  margin-top: -24px;
}

.section {
  margin-left: 35px;
  margin-right: 161px;
  margin-top: 42px;
  margin-bottom: 130px;
  display: flex;
  order: 3;
}

div {
  margin-left: 35px;
}

.n1 {
  margin-left: 0;
}

nav {
  position: absolute;
  width: 423px;
  height: 92px;
  left: 0;
  top: 0;
  background: #3c3a39;
}

a {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
  margin-left: -45px;
  margin-top: 10px;
}

.img {
  margin-left: 360px;
  margin-top: 40px;
}

.a {
  margin-top: -40px;
  margin-left: 70px;
}

.s2h1 {
  position: static;
  width: 390px;
  height: 83px;
  left: 0;
  top: 0;
  font-family: "Crete Round", serif;
  font-weight: 400px;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
  margin-left: 38px;
}

.s3h3 {
  position: static;
  width: 327px;
  height: 36px;
  left: 0;
  top: 0;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.prj1 {
  position: static;
  width: 327px;
  height: 147px;
  left: 0;
  top: 48px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.body2 {
  background-color: #fff;
  width: 343px;
  margin-left: -35px;
  margin-top: -36px;
  padding: 40px;
  height: fit-content;
  padding-bottom: 100px;
  padding-left: 24px;
}

.lan1 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  justify-content: space-around;
  margin-left: 0;
}

.q1 {
  position: static;
  width: 25px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.btn1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 124px;
  height: 48px;
  left: 0;
  top: 259px;
  background: #ff6b00;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  font-family: "Inter", serif;
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.project2 {
  background-image: url(image/proart.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 450px;
}

.lan2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
  padding-left: 10px;
}

.s4h1 {
  font-family: "Crete Round", serif;
  height: 81px;
  width: 295px;
  left: 16px;
  top: 8px;
  border-radius: nullpx;
  margin-left: 16px;
  padding-top: 80px;
  color: #e5e5e5;
}

.p2 {
  position: static;
  width: 295px;
  height: 87px;
  left: 16px;
  top: 101px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  margin-left: 16px;
}

.btn2 {
  position: absolute;
  width: 308px;
  background: #ff6b00;
  height: 60px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin-left: 0;
  border: none;
}

.body3 {
  background-color: #1c1a19;
  background-image: url(image/frame2.png);
  background-repeat: no-repeat;
  background-position: right 110mm;
  height: fit-content;
  width: 343px;
  top: 92px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  position: absolute;
  position: relative;
  margin-top: -100px;
  margin-left: -24px;
}

.description {
  display: flex;
  order: 3;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 35%;
  padding: 10px;
}

.lastli {
  position: static;
  width: 114px;
  height: 24px;
  left: 0;
  top: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 20%;
  justify-content: center;
  margin-left: 25px;
}

.h4 {
  margin-left: -100px;
  margin-top: auto;
}

.hr1 {
  border: none;
  height: 1px;
  background-color: #1c1a19;
  width: 327px;
  float: left;
  margin-bottom: 80px;
  margin-left: 37px;
}

.s1h11 {
  font-family: "Crete Round", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  position: static;
  width: 327px;
  height: 124px;
  left: 24px;
  top: 120px;
  font-style: normal;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.btn11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 161px;
  height: 48px;
  left: 24px;
  top: 395px;
  background: #ff6b00;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  gap: 10px;
  border: none;
  margin-top: 40px;
}

.form2 {
  margin-left: 0;
}

.hr2 {
  border: none;
  height: 1px;
  background-color: #fff;
  width: 327px;
  float: left;
  margin-top: 300px;
  order: 2;
}

#project22 {
  margin-top: -80px;
}

#project21 {
  margin-top: -80px;
}

#project20 {
  margin-top: -80px;
}

.des1 {
  margin-left: -40px;
  margin-bottom: 50px;
}

.des2 {
  margin-bottom: 50px;
}

.lastli2 {
  position: static;
  width: 114px;
  height: 24px;
  left: 0;
  top: 12px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 20%;
  justify-content: center;
  margin-left: 25px;
  margin-left: -20px;
}

.des3 {
  margin-left: 120px;
}

.lastli3 {
  position: static;
  width: 114px;
  height: 24px;
  left: 0;
  top: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 20%;
  justify-content: center;
  margin-left: -120px;
  margin-top: 20px;
}

.h3 {
  margin-top: auto;
}

footer {
  background-color: #fff;
  height: fit-content;
  width: 343px;
  top: 92px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  position: absolute;
  position: relative;
  margin-top: -100px;
  margin-left: -24px;
}

.h2footer {
  position: static;
  width: 327px;
  height: 216px;
  left: 0;
  top: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

input {
  height: 18px;
  left: 16px;
  right: 16px;
  top: calc(50% - 18px / 2);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  border: none;
  color: #979493;
  width: 295px;
}

.input {
  order: 2;
  margin: 73px;
  padding: auto;
  margin-left: auto;
}

textarea {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fbf8f7;
  border: none;
  height: 114px;
  width: 327px;
  border-radius: 0;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 24px;
}

.lastbtn {
  height: 48px;
  width: 131px;
  left: 98px;
  top: 282px;
  padding: 12px;
  background-color: #ff6b00;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-left: 95px;
  margin-top: 24px;
  color: #fff;
}

#email {
  margin-top: 39px;
}

.hrbtn {
  margin-top: 124px;
  width: 375px;
  margin-left: -20px;
}

.hrtext {
  width: 327px;
  margin-left: 0;
}

.ul5 {
  order: 3;
  list-style-type: none;
  display: flex;
  margin-top: -45px;
  margin-left: -20px;
  height: fit-content;
  margin-bottom: -80px;
}

.li5 {
  margin-left: 40px;
}

.lasthr {
  position: absolute;
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 - 0.5px);
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
  margin-top: 0;
  margin-left: -10px;
}
